body { 
    margin: 0; 
    font-family: 'Lato', sans-serif; 
}

a { 
    text-decoration: none;
}

html { 
    box-sizing: border-box; 
}

*, *::before, *::after { 
    box-sizing: inherit; 
}

img { 
    max-width: 100%; 
}

ul {
    padding: 0;
    list-style-type: none;
    margin: 0;
}

.link{
    font-weight: bold;
    font-size: 17px;
    line-height: 20px;

    color: #333333;
}

.btn {
    font-family: inherit;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    text-transform: uppercase;

    color: #FFFFFF;

    background-color: #008752;
    border: none;

    width: 181px;
    min-height: 40px;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 10px;

    cursor: pointer;
    transition: all .3s;
}

.btn:hover {
  background-color: #26CD8B;
}

.btn:active {
  background-color: #005232;
}

.btn_purple {
    background-color: #95459A;
}

.btn_purple:hover {
  background-color: #D665DD;
}

.btn_purple:active {
  background-color: #722A77;
}

.container {
  padding: 0 20px;
  max-width: 1220px;
  margin: 0 auto;
}

.link {
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;

  color: #FFFFFF;
}

.link_purple {
  color: #95459A;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}


/* FORM */
.form-list {
  display: flex;
  margin-top: 14px;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  margin: 20px -10px;
}

.form-col {
  width: 50%;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
}

.form-line {
  width: 100%;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
}


.wrapper-form {
  max-width: 780px;
  width: 100%;

  padding: 30px 100px 50px;
  margin: 53px auto 80px;

  background-color: #EEEEEE;
}

.wrapper-form_mini {
  max-width: 680px;
}

.input-wrapper {
  display: flex;
  flex-direction: column-reverse;
}

.input {
  background-color: transparent;
  border: 2px solid #777777;

  height: 50px;
  width: 100%;

  padding: 12px 20px 13px;
}

.input:focus {
  outline: none;
  border: 2px solid rgba(255, 182, 18, 0.5);
  border-radius: 0;
}

.input:focus ~ .label-control {
  color: #FFB612;
}

.input::placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;

  color: #797979;
}

.input_textarea {
  height: 101px;
  resize: none;
}

.label-text {
  font-size: 18px;
  line-height: 22px;

  color: #6B6A6A;
}

.checkbox-wrapper {
  display: flex;
  align-items: center;
  margin-right: 33px;
}

.checkbox-wrapper input:checked ~ .checkbox-checker::before {
  content: "";
  width: 15px;
  height: 15px;
  background-color: #95459A;
}

.checkbox-wrapper input:focus ~ .checkbox-checker {
  border-color: #FFB612;
}

.checkbox-wrapper input:focus ~ span {
  color:#FFB612;
}


.checkbox-checker {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 21px;
  height: 21px;
  border: 2px solid rgba(0, 0, 0, 0.5);

  margin-right: 7px;
}

.radio-wrapper {
  display: flex;
  align-items: center;

  margin-right: 33px;
}

.radio-checker {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 20px;
  height: 20px;
  background-color: #FFFFFF;
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 100%;

  margin-right: 10px;
}

.radio-wrapper input:checked ~ .radio-checker::before {
  content: "";
  width: 10px;
  height: 10px;

  border-radius: 100%;

  background-color: #95459A;
}

.radio-wrapper input:focus ~ .radio-checker {
  border-color: #FFB612;
}

.radio-wrapper input:focus ~ span {
  color:#FFB612;
}

.fieldset {
  border: none;
  margin: 0;
}

.label-control {
  margin-bottom: 6px;
}

/* Header */
.header {
  padding-top: 33px;
  padding-bottom: 33px;
}

.header-logo {
  display: block;
}

.header-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.header-main-link {
  margin-right: 25px;
  transition: all .3s;
}

.header-main-link:hover {
  opacity: 0.7;
}

.header-main-link:active {
  opacity: 0.4;
}

.header-list {
  display: flex;
  flex-wrap: wrap;
}

.header-link {
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;

  color: #333333;
  margin-right: 15px;
  
  transition: all .3s;
}

.header-link:hover {
  color: #008752;
}

.header-link:active {
  color: #333333;
  opacity: 0.5;
}

.header-tel {
  margin-left: auto;
  margin-right: 24px;

  font-weight: 800;
  font-size: 17px;
  line-height: 20px;
}

/* map */
.map {
  margin-top: 80px;
  height: 426px;
  background-image: url('/img/map.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.map-popup {
  position: absolute;
  top: 42px;
  width: 380px;
  padding: 50px 44px 26px;
  color: #FFFFFF;
  background-color: #008752;
}

.map-title {
  margin-top: 0;
  margin-bottom: 17px;

  font-weight: 900;
  font-size: 30px;
  line-height: 36px;
}

.map-text {
  margin-top: 10px;
  margin-bottom: 23px;

  font-size: 15px;
  line-height: 18px;
}

.map-tel {
  display: inline-block;
  /* TODO: Тут надо проверить отступ сверху на схлопывание */
  margin-top: 0;
  margin-bottom: 23px;

  font-weight: bold;
  font-size: 15px;
  line-height: 18px;

  color: #FFFFFF;
}

/* footer */
.footer-content {
  display: flex;
  flex-wrap: wrap;
}

.footer {
  padding-top: 53px;
  padding-bottom: 49px;

  background-color: #00559D;
}

.footer-title {
  margin-top: 0;
  margin-bottom: 0;

  font-weight: 900;
  font-size: 40px;
  line-height: 52px;

  color: #FFFFFF;
}

.social-list {
  display: flex;
  margin-left: auto;
}

.social {
  margin-left: 14px;
}

.social-network path {
  transition: all .3s;
}

.social-network:hover path {
  fill: #60A7E3;
}


.social-network:active path {
  fill: #17354F;
}

.social-img {
  display: block;
}