/* poster */
.poster {
  padding-top: 143px;
  padding-bottom: 286px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url('/img/poster-bg.jpg'), linear-gradient(180deg, #E0E7ED 16.53%, #DAE2E5 102.51%);
}

.poster-title {
  margin-top: 0;
  margin-bottom: 49px;

  font-weight: 900;
  font-size: 90px;
  line-height: 90px;

  color: #00559D;
}

.poster-btn {
  width: 360px;
  height: 60px;

  font-size: 24px;
  line-height: 29px;
}

/* services */

.services-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 -10px;
}

.services-title {
  font-weight: bold;
  text-align: center;
  font-size: 42px;
  line-height: 50px;

  color: #00559D;
}

/* service */
.services-item {
  width: 300px;
  padding: 10px;
}

.service-img {
  width: 100%;
}

.service-title {
  font-size: 30px;
  line-height: 36px;

  color: #2C3036;
}

.service-text {
  font-size: 16px;
  line-height: 21px;

  color: #2C3036;
}

/* why-us */
.why-us-content {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.why-us-about {
  width: 480px;
  margin-right: 120px;
}
.why-us-title {
  margin-top: 0;
  margin-bottom: 46px;

  font-weight: 900;
  font-size: 72px;
  line-height: 72px;

  color: #005DAB;
}

.why-us-text {
  margin-bottom: 20px;

  font-size: 18px;
  line-height: 28px;
  
  color: #000000;
}

.why-us-img {
  box-shadow: 110px 99px 0px 0px #008752;
}

/* achievements */

.achievements-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* FORM */

.bg-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: flex;

  background-color: rgba(149, 69, 154, 0.9);
}

.bg-wrapper_close {
  display: none;
}

.popup-form {
  margin: auto;
  position: relative;
  padding: 30px 50px 50px 50px;
}

.close-btn {
  border: none;
  background-color: transparent;
  color: #121212;

  cursor: pointer;

  position: absolute;
  top: 15px;
  right: 15px;

  width: 15px;
  height: 14px;

  padding: 0;
  margin: 0;
  font-size: 15px;
  line-height: 15px;
}